.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.link {
	text-decoration: none;
	color: inherit;
}
